    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Ana Sayfa</title>
</head>
<body>
    <h1>Freelancer Web Uygulamasina Hosgeldiniz.</h1>
    <div class="buttons">
        <div class="buttonsCenter">
            <a href="{{ url_for('login') }}"><button class="Login_Register">Login</button></a>
            <a href="{{ url_for('register_isAlan') }}"><button class="Login_Register">Isalan Kayit</button></a>
            <a href="{{ url_for('register_isVeren') }}"><button class="Login_Register">Isveren Kayit</button></a>
        </div>
</body>
</html>
