<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>

<body>
    <div class="box">
        <h2>Login</h2>
        <div class="outer-box">
            <div class="login-box">
                <h4 class="login-text">İşalan Girişi</h4>
                {% if error %}
                    <p style="color: red;">{{ error }}</p>
                {% endif %}
                <form method="post" action="{{ url_for('login') }}">
                    <center>
                        <input type="text" name="username" placeholder="Kullanıcı Adı">
                        <input type="password" name="password" placeholder="Şifre">
                        <button type="submit" id="btn-login">Giriş Yap</button>
                    </center>
                </form>
            </div>
        </div>
    </div>

    <div class="box">
        <div class="outer-box">
            <div class="login-box">
                <h4 class="login-text">İşveren Girişi</h4>
                {% if error_veren %}
                    <p style="color: red;">{{ error_veren }}</p>
                {% endif %}
                <form method="post" action="{{ url_for('login_isVeren') }}">
                    <center>
                        <input type="text" name="username" placeholder="Kullanıcı Adı">
                        <input type="password" name="password" placeholder="Şifre">
                        <button type="submit" id="btn-login">Giriş Yap</button>
                    </center>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
