<!-- my_job_listings.html -->
<!DOCTYPE html>
<html lang="tr">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="isVeren">
        <h1>Hoşgeldiniz, {{ user.username }}</h1>
        
        <!-- İş İlanları -->
        <h2>Verdiğiniz İş İlanları</h2>
        <ul>
            <form method="post" action="{{ url_for('delete_job_listing') }}">
                {% for job_listing in job_listings %}
                <div class="jobs">
                    Başlık: {{ job_listing.title }} <br>
                    Açıklama: {{ job_listing.description }} <br>
                    Fiyat: {{ job_listing.price }}TL <br>
                    Durum: {{ job_listing.status }} <br>
                    İlan Oluşturma Tarihi: {{ job_listing.created_at }} <br>
                    
                    <!-- Silme işlemi için ilanın ID'sini formda saklayın -->
                    <input type="hidden" name="job_listing_id" value="{{ job_listing.id }}">
                    
                    <!-- Silme butonu -->
                    <button class="Login_Register1" type="submit">İlanı Sil</button>
                </div>
                {% endfor %}
            </form>
        </ul>
       
        <a href="{{ url_for('dashboard_isVeren') }}"><button class="Login_Register2">Geri Dön</button></a>
        <!-- Çıkış -->
        <a href="{{ url_for('logout') }}"><button class="Login_Register2">Çıkış Yap</button></a>
    </div>
</body>
</html>
